<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e4beb6">  <td>18/12/22 18:00:49</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC002_CreateLeads@55d56113]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/12/22 18:00:51</td>   <td>1687</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLeads.setData()[pri:0, instance:testcases.TC002_CreateLeads@55d56113]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/12/22 18:00:51</td>   <td>1718</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC002_CreateLeads@55d56113]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/12/22 18:00:54</td>   <td>4719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC002_CreateLeads@55d56113]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/12/22 18:01:57</td>   <td>68478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLeads.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_CreateLeads@55d56113]">login</td> 
  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/12/22 18:02:58</td>   <td>128774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC002_CreateLeads@55d56113]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/12/22 18:02:59</td>   <td>130454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC002_CreateLeads@55d56113]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/12/22 18:03:36</td>   <td>167289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLeads.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_CreateLeads@55d56113]">login</td> 
  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/12/22 18:04:09</td>   <td>200595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC002_CreateLeads@55d56113]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/12/22 18:04:12</td>   <td>203011</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC002_CreateLeads@55d56113]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>18/12/22 18:04:13</td>   <td>204355</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC002_CreateLeads@55d56113]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
</table>
